/*----------------------------------------------------------------------------*/
/*                             TABLE OF CONTENTS                              */
/*----------------------------------------------------------------------------*/
/*     =GLOBAL STYLES (ELEMENT SELECTORS)                                     */
/*     =HEADER                                                                */
/*     =LAYOUT                                                                */
/*     =INAV                                                                  */
/*     =HEADING                                                               */
/*     =MESSAGING                                                             */
/*     =TOOLTIPS                                                              */
/*     =OVERLAYS                                                              */
/*     =FORMS                                                                 */
/*     =MISCELLANEOUS                                                         */
/*----------------------------------------------------------------------------*/
/*                                =TABLET                                     */
/*     =T_LAYOUT                                                              */
/*     =T_MESSAGING                                                           */
/*     =T_FORMS                                                               */
/*     =T_MISCELLANEOUS                                                       */
/*----------------------------------------------------------------------------*/
/*                                =DESKTOP                                    */
/*     =D_MISCELLANEOUS                                                       */
/*----------------------------------------------------------------------------*/
/* TIP: Use find command + =TAG for quick navigation.                         */
/*----------------------------------------------------------------------------*/



/*----------------------------------------------------------------------------*/
/* =GLOBAL STYLES (ELEMENT)                                                   */
/*----------------------------------------------------------------------------*/
* {
	color: inherit;
	margin:0;
	padding:0;
}
*,
*:before,
*:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  src: url("../fonts/Roboto-Regular.eot");
  src: url("../fonts/Roboto-Regular.eot?") format("embedded-opentype"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.ttf") format("truetype"), url("../fonts/Roboto-Regular.svg") format("svg");
}

@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  src: url("../fonts/Roboto-Medium.eot");
  src: url("../fonts/Roboto-Medium.eot?") format("embedded-opentype"), url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.ttf") format("truetype"), url("../fonts/Roboto-Medium.svg") format("svg");
}
@font-face {
  font-family: 'BentonSans';
  font-weight: 500;
  src: url("//www.aexp-static.com/nav/ngn/fonts/0fababca-4914-46dd-9b0f-efbd51f67ae8-2.eot");
  src: url("//www.aexp-static.com/nav/ngn/fonts/0fababca-4914-46dd-9b0f-efbd51f67ae8-2.eot?") format("embedded-opentype"), url("../fonts/0fababca-4914-46dd-9b0f-efbd51f67ae8-3.woff") format("woff"), url("//www.aexp-static.com/nav/ngn/fonts/0fababca-4914-46dd-9b0f-efbd51f67ae8-1.ttf") format("truetype"), url("//www.aexp-static.com/nav/ngn/fonts/0fababca-4914-46dd-9b0f-efbd51f67ae8-4.svg") format("svg");
}
@font-face {
  font-family: "dls-icons";
  font-weight: normal;
  src: url("../fonts/dls-icons.eot?v=5.9.0");
  src: url("../fonts/dls-icons.eot?v=5.9.0?") format("embedded-opentype"), url("../fonts/dls-icons.woff?v=5.9.0") format("woff"), url("../fonts/dls-icons.ttf?v=5.9.0") format("truetype"), url("../fonts/dls-icons.svg?v=5.9.0") format("svg");
}
html {
	font-size: 62.5%; /*10px*/
	color: #4D4F53;
	font-family: BentonSans, "Helvetica Neue", Roboto, Helvetica, sans-serif;
}
body {
	background-color: white;
	font-size: 16px;
	font-size: 1.6rem;
	line-height: 24px;
	line-height:2.4rem;
	min-width: 320px;
	min-width: 32rem;
}
#responsiveWrapper_sub{
	background-color: white;
}
html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}
p {
	margin: 20px 0;
	margin: 2rem 0;
	padding: 0;
}
a {
	background-color: transparent;
    color: #006fcf;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.25s ease-out, background-color 0.25s ease-out;
}
a:hover,
a:visited {
	outline-width: 0;
	text-decoration: underline;
}
img {
	border: 0;
}


/*----------------------------------------------------------------------------*/
/* =HEADER                                                                    */
/*----------------------------------------------------------------------------*/
#divHeader {
	/*background: url(../img/axp_sa_ps_rgb_reg_1x.png) no-repeat center center;*/
	/*color: #6f7277;*/
	font-size: 20px;
	font-size: 2rem;
	overflow: auto;
	padding: 10px 2.6% 5px;
	padding: 1rem 2.6% 0.5rem;
	width:100%;
}
#divHeader > img {
	display: none;
}
#faqButton {
	float: right;
}
#contactUs {
	display: none;
}

#contentWrapper {
	border-radius: 0;
    margin: 0;
    width: 100%;
    overflow: auto;
}


/*----------------------------------------------------------------------------*/
/* =LAYOUT                                                                    */
/*----------------------------------------------------------------------------*/
#divMain {
	padding: 5px;
	width: 100%;
}

div.contentTop {
	background-color: white;
	padding: 20px 2.6% 0 2.6%;
	padding: 2rem 2.6% 0 2.6%;
}

div.contentBottom {
	background: white;
	border: 1px solid #CCC;
	border-radius: 0px 0px 5px 5px;
	border-top: 0;
	padding: 0 2.6% 15px;
	overflow:auto; /*TODO: is this necessary? */
	
}

div.content, div.contentTop, div.contentBottom {
  border: 0;
  border-radius: 0;
  margin: 0;
}

#faq, #faq .title {
	display: none;
}
#faq .iframe {
	border: 0;
	min-height: 350px;
	width: 100%;
}
#faqButton {
	border: 1px solid #CCC;
	border-radius: 4px;
	color: #002663;
	cursor: pointer;
	float: right;
	font-weight: bold;
	line-height: 30px;
	line-height: 3rem;
	margin: 0 0 0 10px;
	margin: 0 0 0 1rem;
	padding: 0 10px;
	padding: 0 1rem;
	text-align: center;
}

#divSubFooter {
	padding-top: 10px;
}

#divSubFooter p {
	font: 12px Arial;
	line-height: 14px;
	line-height: 1.4rem;
	/*margin: 20px 0;*/
	margin:0;
}

#divCancelLink {	
	float: right;
    width: auto !important;
    font-size: 14px;
	}
	


/*----------------------------------------------------------------------------*/
/* =INAV                                                                      */
/*----------------------------------------------------------------------------*/
/*TODO: what's all this??*/
#iNavNGI_FooterCont #iNavNGI_Footer #iNMblFootUtil #iNMblUtilCont {
	display: none;
}

#iNavLogin,.iNavShadow,#iNavUtilChangeCountry,#iNFootLgBtn
{
	display:none !important;
}

#iNavSrchBox {
	border: 0;
	box-shadow: none;
}

#iNavNGI_Header #iNavHeaderCont, #iNavNGI_FooterMain #iNavNGI_FooterWrap #iNavNGI_FooterCont {
    margin-bottom: 0 !important;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 0 !important;
}

#iNavNGI_Header input[type=button],
#iNavNGI_Header button[type=button],
#iNavNGI_Header input[type=submit] {
	min-width: 0;
}

.oo_cc_wrapper {
	top: 120px !important;
	z-index: 2147483647 !important	;
	/* make feedback popup on top and below AMEX header*/
}

body #iNavNGI_FooterMain #iNavNGI_FooterCont, body #iNavNGI_FooterMain.iNavFreeFloat #iNavNGI_FooterCont {
    float: none !important;
    margin-bottom: 0 !important;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 0 !important;
    padding-bottom: 0;
    padding-left: 57px;
    padding-right: 56px;
    padding-top: 0;
}

/*----------------------------------------------------------------------------*/
/* =HEADINGS                                                                  */
/*----------------------------------------------------------------------------*/
h1 {
	font-size: 20px;
	font-size: 2rem;
	margin: 0 0 15px 0;
	margin: 0 0 1.5rem 0;
	text-align: center;
}

/*----------------------------------------------------------------------------*/
/* =MESSAGING                                                                 */
/*----------------------------------------------------------------------------*/
.messageContainer,.messageContainerError {
	border: 1px solid #A4DA66;
	border-radius: 4px;
	padding: 20px;
	padding: 2rem;
	margin-bottom: 25px;
}

.messageContainerThanks {
	background: url("../images/rwd/green_checkmark.png") no-repeat 15px center;
	border: 1px solid #A4DA66;
	border-radius: 4px;
	padding: 20px 20px 20px 46px;
	padding: 2rem 2rem 2rem 4.7rem;
	margin-bottom: 25px;
}

.messageContainerError {
	background: #FFDFEF url("../img/page/msg-box-error.png") 18px 20px no-repeat;
	background: #FFDFEF url("../img/page/msg-box-error.png") 1.8rem 2rem no-repeat;
	border: 1px solid #900;
	color: #900;
	padding-left: 55px;
	padding-left: 5.5rem;
	text-align: center;
}

.messageHeader,.messageHeaderError {
	font: normal 14px Arial;
	color: #333333;
	text-align: left;
	padding-bottom: 2px;
	line-height: 18px;
}

.messageHeaderError {
	color: #9a0000;
}

.messageText,.messageTextError {
	font: normal 14px Arial;
	color: #333333;
	text-align: left;
	padding-top: 2px;
	line-height: 20px;
}

.messageTextError {
	color: #9a0000;
}


/*----------------------------------------------------------------------------*/
/* =TOOLTIPS                                                                  */
/*----------------------------------------------------------------------------*/
.toolTipButton , .glyph{
	display: inline-block;
    line-height: 1;
    cursor: pointer;
	vertical-align: middle;
	padding-left:5px;
}
.glyph::before{
	color: #006FCF;
	-webkit-font-smoothing: antialiased;
    -webkit-text-stroke: 0;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    display: block;
    font-family: "dls-icons";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    letter-spacing: 0;
    position: relative;
    speak: none;
    vertical-align: middle;

}
.info-glyph::before{
	content: url('../img/dls-glyph-info.svg');
}
#toolTip,.toolTip {
	display: none;
	border: 0;
	margin: 10px 0;
	padding: 10px;
	text-align: left;
	width: 100%;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-sizing:border-box;
	position: relative;
}
#toolTipText, .toolTipText,
#toolTipText p, .toolTipText p,
 #toolTipText ol li,  .toolTipText ol li  {
	font-size: 12px;
    color: #5f6266;
    line-height: 16px;
    padding: 1.25rem;
    white-space: normal;
    word-wrap: break-word;
    color: #000;
    /* line-height: 1.2; */
    font-weight: 400;
    font-family: "Helvetica Neue", Roboto, Helvetica, sans-serif;
}
#toolTip a,#toolTip a:visited,#toolTip a:hover,
.toolTip a,.toolTip a:visited,.toolTip a:hover {
	font: bold 12px Arial;
	color: #006890;
	text-decoration: underline;
	display:inline;
}
#toolTip.left .toolTipArrowBorder,
.toolTip.left .toolTipArrowBorder  {
	left: auto;
	right: 30px;
	border-left: 25px solid transparent;
	border-right: 0px solid transparent;
}
#toolTip.left .toolTipArrow,
.toolTip.left .toolTipArrow {
	left: auto;
	right: 34px;
	border-left: 21px solid transparent;
	border-right: 0px solid transparent;
}
#toolTipClose,
.toolTipClose{
	display: inline;
	float: right;
	margin: 0 0 0 10px;

	background: gray;
	color: white;
	border-radius: 50%;
	cursor: pointer;

	font: 20px Monospaced;
	line-height: 20px;

	width: 1em;
	height: 1em;
	text-align: center;
}

.tooltipIcon::before {
    font-size: 1rem;
    font-family: "dls-icons";
    content: "";
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.tooltipIcon.tooltipEnabled::before {
    font-family: "dls-icons";
    content: "";
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.tooltip[tooltip-placement="top"] .tooltip-arrow,
.tooltip[tooltip-placement="bottom"] .tooltip-arrow {
  height: 0.875rem;
  left: 0;
  margin-left: 0;
  overflow-x: visible;
  overflow-y: hidden;
  width: 100%;
}

.tooltip[tooltip-placement="top"] .tooltip-arrow-pointer,
.tooltip[tooltip-placement="bottom"] .tooltip-arrow-pointer {
  display: block;
  left: 50%;
  margin-left: -0.4375rem;
}

.tooltip[tooltip-placement="top"] .tooltip-arrow {
  bottom: -2px;
}

.tooltip[tooltip-placement="top"] .tooltip-arrow-pointer {
  bottom: 0.4375rem;
}

.tooltip[tooltip-placement="top"].tooltip-white .tooltip-arrow {
  bottom: -1px;
}

.tooltip[tooltip-placement="bottom"] .tooltip-arrow {
  top: -1px;
}

.tooltip[tooltip-placement="bottom"] .tooltip-arrow-pointer {
  top: 0.4375rem;
}

.tooltip[tooltip-placement="right"] .tooltip-arrow,
.tooltip[tooltip-placement="left"] .tooltip-arrow {
  height: 100%;
  margin-top: 0;
  overflow-x: hidden;
  overflow-y: visible;
  top: 0;
  width: 0.875rem;
}

.tooltip[tooltip-placement="right"] .tooltip-arrow-pointer,
.tooltip[tooltip-placement="left"] .tooltip-arrow-pointer {
  display: block;
  margin-top: -0.4375rem;
  top: 50%;
}

.tooltip[tooltip-placement="right"] {
  margin-right: -0.4375rem;
}

.tooltip[tooltip-placement="right"] .tooltip-arrow {
  left: -1px;
}

.tooltip[tooltip-placement="right"] .tooltip-arrow-pointer {
  left: 0.4375rem;
}

.tooltip[tooltip-placement="left"] {
  margin-left: -0.4375rem;
}

.tooltip[tooltip-placement="left"] .tooltip-arrow {
  right: -1px;
}

.tooltip[tooltip-placement="left"] .tooltip-arrow-pointer {
  left: -0.4375rem;
}

.tooltip-inner {
  border-radius: 0.25rem;
  visibility: visible;
  white-space: normal;
  word-wrap: break-word;
}

.tooltip-inner,
.tooltip-arrow,
.tooltip-arrow-pointer {
  background-color: inherit;
  border: 1px solid transparent;
  border-color: inherit;
  box-shadow: inherit;
}

.tooltip-arrow:not(.tooltip-arrow-shadow) .tooltip-arrow-pointer {
  box-shadow: none;
  border-left: none;
  border-top: none;
}

.tooltip-arrow {
  height: auto;
    position: absolute;
    visibility: hidden;
    display:none;
    width: auto;
    left: 50%;
    bottom: 2px;
}

.tooltip-arrow-pointer {
  content: '';
   height: 0.875rem;
  position: absolute;
  right: 0;
  transform: rotate(45deg);
  visibility: visible;
  width: 0.875rem;
}

/*----------------------------------------------------------------------------*/
/* =OVERLAYS                                                                  */
/*----------------------------------------------------------------------------*/
.overlay {
	background-color: #FFF;
	border: 4px solid #8b8d8e;
	font: normal 14px Arial;
	color: #4d4f53;
	line-height: 18px;
	position: relative;
	border-radius: 15px;
	-moz-box-shadow: 0 0 5px #888888;
	-webkit-box-shadow: 0 0 5px #888888;
	text-align: left;
}

.overlayContainer {
	padding-top: 15px;
	padding-bottom: 30px;
	padding-right: 24px;
	padding-left: 24px;
}

.overlay a,.overlay a:visited,.overlay a:hover {
	font: bold 12px Arial;
	color: #006890;
	text-decoration: none;
}

.overlayHeadline h1 {
	font: bold 18px Arial;
	color: #4d4f53;
	white-space: nowrap;
	margin: 0px;
	line-height: 18px;
}

.saveCancelOverlayButtonLayout{
	position: absolute;
	bottom: 30px;
	line-height: 18px;
	padding-top: 20px;
}



/*----------------------------------------------------------------------------*/
/* =FORMS                                                                     */
/*----------------------------------------------------------------------------*/
input[type="date"],
	input[type="email"],
	input[type="number"],
	input[type="password"],
	input[type="tel"],
	input[type="text"],
	select {
		-webkit-appearance: none;
	    background-color: #f7f8f9;
	    border: 1px solid #c8c9c7;
	    border-radius: 0.4rem;
	    color: #000;
	    display: block;
	    font-size: 1.6rem;
	    line-height:2.2rem;
	    min-height: 6rem;
	    padding: 1rem 1.7rem 0px;
	    transition: border-color 0.25s ease-out;
	    width: 95%;
	}
	input[type="date"]:focus,
	input[type="email"]:focus,
	input[type="number"]:focus,
	input[type="password"]:focus,
	input[type="tel"]:focus,
	input[type="text"]:focus,
	select:focus {
		    border-color: #006fcf;
   			outline: none;
	}
	input[type="date"].error,
	input[type="email"].error,
	input[type="number"].error,
	input[type="password"].error,
	input[type="tel"].error,
	input[type="text"].error,
	select.error {
		border: 1px solid #9A0000;
	}

	/*for Table based pages, field labels are not on new lines*/
	table tr td.fieldLabel ,td.expandTable{
		display: inline;
		width: auto;
	}

	form.expandFields input[type="date"],
	form.expandFields input[type="email"],
	form.expandFields input[type="number"],
	form.expandFields input[type="password"],
	form.expandFields input[type="tel"],
	form.expandFields input[type="text"],
	form.expandFields input[type="submit"],
	form.expandFields input[type="tel"],
	form.expandFields select,
	input[type="submit"].expand,
	input[type="button"].expand,input[type="email"].expand,
	input[type="text"].expand,select.expand,
	td.expandTable input[type="text"] ,
	td.expandTable select,
	td.expandTable input[type="tel"],
	input[type="button"]
	{
		width: 100%;
	}




input, select {
	font: inherit;
}

select optgroup {
	color: #888;
	font-style: normal;
	font-weight: normal;
}
select option {
	color: #4D4F53;
	padding-left: 10px;
	padding-right:10px;

}

/* Disabled & Placeholder Color */
select option:disabled,
select.disabledOption,
select option.optional,
select.optionalSelected {
	color: #CCC;
}
/* Must be separated since browsers ignore rules with unknown selectors. */
input::-webkit-input-placeholder {
	color: #CCC;
	opacity: 1;
}
input::-moz-placeholder {
	color: #CCC;
	opacity: 1;
}
input:-ms-input-placeholder {
	color: #CCC;
	opacity: 1;
}

textarea {
	color: #666666;
	font-family: Verdana;
	font-size: 12px;
	margin-left: 0;
}
.textAreaDisplay {
	border: 2px solid #b0c4de;
	padding: 5px;
}
.disabled,
input[type="date"][disabled],
input[type="email"][disabled],
input[type="number"][disabled],
input[type="password"][disabled],
input[type="tel"][disabled],
input[type="text"][disabled] {
	color: #CCC;
	background-color: #CCC;
}
.enabled {
	background-color: #FFF;
}

/*Move Field Labels to New Line*/
div.field, dl {
	background: #FFF;
	display: block;
	margin: 0 0 20px 0;
	margin: 0 0 2rem 0;
	padding: 10px;
	padding: 1rem;
}
div.field label {
	color: #888;
	display: block;
	font-size: 12px;
	font-size: 1.2rem;
	margin-bottom: 5px;
	margin-bottom: .5rem;
	text-transform: uppercase;
	text-align:left;
	position:absolute;
	line-height: 40px;
	padding: 9px 10px 0 17px;
	padding: 0.9rem 1rem 0 1.7rem;
	transition: all 0.2s linear;
}
div.field label.label-min {
	font-size: 13px;
	line-height: 10px;
	background: transparent;
	height: auto;
	font-weight: 500;
	text-transform: uppercase;
    color: #000;
}
div.field-error {
	color: #9a0000;
	margin: -10px 0 20px 10px;
	margin: -1rem 0 2rem 10px;
	text-align:left;
}
/*div.field.error {
	border: 1px solid #9A0000;
}*/
div.field.error label {
	color: #9A0000;
}
div.field span.info-glyph{
	position:absolute;
	left:95%;
	top:26px;
}
dl {
	text-align:left;
	border:0;
	background:none;
	border-bottom:1px solid #CCC;
	padding:0 20px 20px 20px;
	box-shadow:none;
	border-radius:0;
}
dt {
	text-transform:uppercase;
	/*color: #B8B8B8;*/
	font-weight:bold;
	display: block;
	font-size: 15px;
	font-size: 1.5rem;
}
dd {
	font-weight: 500;
	padding-left: 5px;
	color: #4D4F53;
}

div.field label.inline {
	display: inline;
	text-align: left;
	margin: 0;
}
div.field span.data {
	font-weight: bold;
}

form.left div.field label, div.field.left label {
	text-align: left;
}
div.field input, div.field select {
	vertical-align: middle;
}
div.field select.expand {
	width: 100%;
}


/*for Table based pages, Moving fieldLabels to New Line*/
table tr td.fieldLabel ,td.expandTable{
	display: block;
	width: 100%;
	text-align: left;
}

form.expandFields input[type="date"],
form.expandFields input[type="email"],
form.expandFields input[type="number"],
form.expandFields input[type="password"],
form.expandFields input[type="tel"],
form.expandFields input[type="text"],
form.expandFields input[type="submit"],
form.expandFields input[type="tel"],
form.expandFields select,
input[type="submit"].expand,
input[type="button"].expand,
input[type="email"].expand,
input[type="text"].expand,
select.expand,
td.expandTable input[type="text"] ,
td.expandTable select,
td.expandTable input[type="tel"],
input[type="button"],
button.expand
 {
	width: 100%;
}
/*Increase Checkbox/Radio Size
input[type="checkbox"], input[type="radio"]
{
	-webkit-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	transform-origin: 0 0;

	-ms-transform: scale(1.3, 1.3); /* IE */
/*	-webkit-transform: scale(1.3, 1.3); /* Safari and Chrome */
/*	transform: scale(1.3, 1.3);

	margin: 0 10px 10px 0;
}*/

input[type="checkbox"], input[type="radio"]
{
	min-height: 0;
    position: absolute;
    z-index: 1;
}
input[type="radio"]{ /* Hiding only radio buttons for now*/
 	display:none;
    visibility: hidden;
}
input[type="checkbox"] + label{
	cursor: pointer;
    display: inline-block;
    font-weight: normal;
    line-height: 2.2rem;
    margin-bottom: 0;
    min-height: 2.2rem;
    padding-left: 3rem;
    position: relative;
    text-transform: inherit;
    vertical-align: middle;
    font-family: "Helvetica Neue", Roboto, Helvetica, sans-serif;

}
input[type="checkbox"]:checked + label::before {
    background-color: #006fcf;
    border-color: #006fcf;
}
input[type="checkbox"]:checked + label::after {
    color: #fff;
    visibility: visible;
}
input[type="checkbox"] + label::before {
    background-color: #fff;
    border: 1px solid #c8c9c7;
    border-radius: 0.4rem;
    content: '';
    display: inline-block;
    height: 2.2rem;
    left: 0;
    position: absolute;
    transition: border 0.25s ease-out, background-color 0.25s ease-out;
    width: 2.2rem;
}
input[type="checkbox"] + label::after {
    font-family: dls-icons;
    content: "\2713";
    -webkit-font-smoothing: antialiased;
    align-items: center;
    display: flex;
    font-size: 1.375rem;
    height: 2.2rem;
    justify-content: center;
    left: 0px;
    line-height: 2.2rem;
    position: absolute;
    top: 0px;
    width: 2.2rem;
    visibility: hidden;
}
input[type="checkbox"]:focus + label::before {
  outline: dotted 1px rgba(0, 0, 0, 0.3);
  outline-offset: 3px;
}

input[type="checkbox"]:hover + label::before {
  background-color: #fff;
  border-color: #006fcf;
}

input[type="checkbox"]:hover + label::after {
  color: #fff;
}

input[type="checkbox"]:checked + label:hover::before {
  border-color: #006fcf;
}

input[type="checkbox"]:checked + label::before {
  background-color: #006fcf;
  border-color: #006fcf;
}

input[type="checkbox"]:checked + label::after {
  color: #fff;
  visibility: visible;
}

/*RADIO BUTTONS */
input[type="radio"]:hover + label {
  color: inherit;
}

input[type="radio"]:hover + label::before {
  background-color: #fff;
  border-color: #006fcf;
}

input[type="radio"]:hover + label::after {
  background-color: #006fcf;
}

input[type="radio"]:focus + label::before {
  border-color: #006fcf;
}

input[type="radio"]:checked + label {
  color: inherit;
}

input[type="radio"]:checked + label::before {
  background-color: #fff;
  border-color: #006fcf;
}

input[type="radio"]:checked + label::after {
  background-color: #006fcf;
  opacity: 1 !important;
  transform: scale(1) !important;
}

input[type="radio"]:disabled + label {
  color: #97999b;
  cursor: not-allowed;
}

input[type="radio"]:disabled + label::before {
  background-color: rgba(0, 0, 0, 0.05);
  border-color: #c8c9c7;
  cursor: not-allowed;
}

input[type="radio"]:disabled + label::after {
  background-color: rgba(0, 0, 0, 0.3);
}

input[type="radio"][aria-invalid="true"]:checked + label {
  color: #b42c01;
}

input[type="radio"][aria-invalid="true"]:checked + label::before {
  background-color: #fff;
  border-color: #b42c01;
  cursor: not-allowed;
}

input[type="radio"][aria-invalid="true"]:checked + label::after {
  background-color: #b42c01;
}

input[type="radio"]+ label {
  padding-left: 0.6rem;
  font-family: "Helvetica Neue", Roboto, Helvetica, sans-serif;
  font-size: inherit;
  color: inherit;
  cursor: pointer;
  display: block;
  font-weight: normal;
  line-height: 2.2rem;
  margin-bottom: 0;
  min-height: inherit;
  padding-left: 4rem;
  position: relative;
  text-transform: inherit;
  vertical-align: middle;
 }

input[type="radio"] + label::before {
  background-color: #fff;
  border: 1px solid #97999b;
  border-radius: 50%;
  content: '';
  display: inline-block;
  height: 2.2rem;
  left: 0;
  position: absolute;
  transition: border 0.25s ease-out;
  width: 2.2rem;
  will-change: border;
}
input[type="radio"] + label::after {
  background-color: #006fcf;
  border-radius: 50%;
  content: '';
  display: inline-block;
  height: 1.4rem;
  left: 0.4rem;
  position: absolute;
  top: 0.4rem;
  transform: scale(0);
  transition: transform 0.25s ease-out, opacity 0.25s ease-out;
  width: 1.4rem;
  will-change: transform, opacity;
}
/**BUTTONS**/
div.accordion .button-wrapper {
	padding-left: 35%;
	text-align: left;
}
.button-wrapper {
	margin: 20px 0;
	text-align: right;
	display:inline-block;
	width:100%;
}
.button-background {
	background:#F2F2F2;
	border-radius:4px 4px 4px 4px;
	padding:20px;
}
.button-wrapper ul {
	margin: 0;
	padding: 0;
	width:100%;
}
.button-wrapper li {
	display: block;
	list-style-type: none;
	border-left: 1px solid #ccc;
	margin: 0 0 10px 0;
	border: 0;
	width: 100%;
}

button[type="button"],
input[type="button"],
input[type="submit"],a.button {
	width: 100%;
	background: #006fcf;
	border: none;
	border-radius: 0.25rem;
	color: #FFFFFF;
	cursor: pointer;
	font: normal 16px Arial;
	font-size: 1.6rem;
	line-height: 27px;
	line-height: 2.7rem;
	margin: 5px 0;
	margin: .5rem 0;
	min-height: 50px;
	min-height: 5rem;
	padding: 0 15px 0 15px;
	padding: 0 1.5rem 0 1.5rem;


	-webkit-appearance: none; /*Fix i-Device Buttons*/
}

/* Don't mess up iNav buttons */
#iNMbWrap button[type="button"], #iNavHdWrap button[type="button"],
#iNMbWrap input[type="button"], #iNavHdWrap input[type="button"],
#iNMbWrap input[type="submit"], #iNavHdWrap input[type="submit"] {
	min-height: 0;
	border-radius: 0;
}

button > .subtext {
	font-weight: normal;
	font-size: 12px;
	font-size: 1.2rem;
}

input[type="submit"][disabled="disabled"], input[type="submit"][disabled="disabled"]:hover, input[type="submit"][disabled="disabled"]:active,
input[type="button"][disabled="disabled"], input[type="button"][disabled="disabled"]:hover, input[type="button"][disabled="disabled"]:active,
button[type="button"][disabled="disabled"], button[type="button"][disabled="disabled"]:hover, button[type="button"][disabled="disabled"]:active,
input[type="submit"][disabled="disabled"].lightBlue, input[type="submit"][disabled="disabled"].lightBlue:hover, input[type="submit"][disabled="disabled"].lightBlue:active,
input[type="button"][disabled="disabled"].lightBlue, input[type="button"][disabled="disabled"].lightBlue:hover, input[type="button"][disabled="disabled"].lightBlue:active,
button[type="button"][disabled="disabled"].lightBlue, button[type="button"][disabled="disabled"].lightBlue:hover, button[type="button"][disabled="disabled"].lightBlue:active,
input[type="submit"][disabled="disabled"].white, input[type="submit"][disabled="disabled"].white:hover, input[type="submit"][disabled="disabled"].white:active,
input[type="button"][disabled="disabled"].white, input[type="button"][disabled="disabled"].white:hover, input[type="button"][disabled="disabled"].white:active,
button[type="button"][disabled="disabled"].white, button[type="button"][disabled="disabled"].white:hover, button[type="button"][disabled="disabled"].white:active {
	border-color: #c8c9c7;
  	background: #f7f8f9;
 	color: #97999b;
}
input[type="submit"]:hover, input[type="button"]:hover, button[type="button"]:hover {
	background: #1068a5;
}
input[type="submit"]:active, input[type="button"]:active, button[type="button"]:active {
	 background: #0f6099;
}
a.button{
	padding: 12px;
    display: block;
    text-align: center;
}
input[type="submit"].lightBlue, input[type="submit"].lightBlue:hover, input[type="button"].lightBlue, input[type="button"].lightBlue:hover, button[type="button"].lightBlue, button[type="button"].lightBlue:hover {
	background: #1974CD;
	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#26558B), to(#1974CD));
	/* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(top, #1974CD, #26558B);
	/* Firefox 3.6+ */
	background: -moz-linear-gradient(top, #1974CD, #26558B);
	/* IE 10 */
	background: -ms-linear-gradient(top, #1974CD, #26558B);
	/* Opera 11.10+ */
	background: -o-linear-gradient(top, #1974CD, #26558B);
}
input[type="submit"].lightBlue:active, input[type="button"].lightBlue:active, button[type="button"].lightBlue:active {
 	background: #26558B;
	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1974CD), to(#26558B));
	/* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(top, #26558B, #1974CD);
	/* Firefox 3.6+ */
	background: -moz-linear-gradient(top, #26558B, #1974CD);
	/* IE 10 */
	background: -ms-linear-gradient(top, #26558B, #1974CD);
	/* Opera 11.10+ */
	background: -o-linear-gradient(top, #26558B, #1974CD);
}

input[type="submit"].white, input[type="button"].white, button[type="button"].white,a.button.white {
	color: #006fcf;
 	background: #fff;
  	border:1px solid #006fcf;
}
input[type="submit"].white:hover, input[type="button"].white:hover, button[type="button"].white:hover,a.button.white:hover {
	background: #e5e5e5;
  	border-color: #3ea8e5;
}
input[type="submit"].white:active, input[type="button"].white:active, button[type="button"].white:active,a.button.white:active {
	color: #004683;
  background: #d4d4d4;
  border-color: #0061b6;
}
input[type="button"].subtle, input[type="button"].subtle:hover, input[type="button"].subtle:active{
	background: #F1F1F1;
	color: #828282;
	font-weight: bold;
}

td.groupButton .formButton, td.groupButton .formButtonDisabled, td.groupButton .formButtonOver, td.groupButton .formButtonDown {
	margin: 5px;
	width: 75px;
}

.overlayButtonRight {
	float: right;
	margin: 20px 0 5px 0;
}

label.radioButton , div.radioButtonDiv {
        background: white;
        border: 1px solid #D8D8D8;
        border-radius: 4px;
        display: table;
        margin: 5px 0;
        margin: .5rem 0;
        min-height: 80px;
        min-height: 8rem;
        padding: 15px;
        padding: 1.5rem;
        width:100%;
}
div.radioButtonDiv>div.option1{
	min-height: inherit;
}
div.radioButtonDiv>div.option1> label{
	padding-top:2.5rem;
	padding-top:25px;
}
div.radioButtonDiv>div.option1>input[type="radio"] + label::after{
	left:0.35rem;
	top:2.89rem;
}
label.radioButton > * {
        display: table-cell;
        vertical-align: middle;
}
label.radioButton > *:last-child {
        padding-left: 15px;
        padding-left: 1.5rem;
}
label.radioButton.checked {
        background: #EBF5FF;
        border-color: #009BBB;
}

/*----------------------------------------------------------------------------*/
/* =CLASS STYLES                                                              */
/*----------------------------------------------------------------------------*/
.fieldSection, .fieldSectionGrayAll {
/*	background:#efefef; */
	padding: 20px 20px 10px 20px;
	padding: 2rem 2rem 1rem 2rem;
	border-radius: 4px;
}
.fieldSubSection, .fieldSubSectionGrayAll {
	border-top: 1px solid #D9D9D9;
	padding: 20px;
	padding: 2rem;
	padding-bottom: 0;
	margin: 20px -20px;
	margin: 2rem -2rem;
}
.fieldSection > h2, .fieldSubSection > h2, .fieldSectionGrayAll > h2, .fieldSubSectionGrayAll > h3 {
	font-size: 14px;
	font-size: 1.4rem;
	font-weight: normal;
	text-transform: uppercase;
	margin-bottom: 20px;
	margin-bottom: 2rem;
}
.fieldSectionGrayAll > h2 {
	font-weight: bold;
}
span.optional {
	display: block;
	color: #888;
	text-transform: lowercase;
	font-size: 10px;
	font-size: 1rem;
}

/*----------------------------------------------------------------------------*/
/* =MISCELLANEOUS                                                             */
/*----------------------------------------------------------------------------*/
.center {
	text-align: center;
}
.mcenter { /*Mobile Center Only*/
	text-align: center;
}
.right {
	text-align: right;
}
.heroImageClass{
	width:75px;
}
.mContentTitle {
	padding:5px 0;
	text-align:center;
}
.leftFloat{
	float:left;
}
.mFloatLeft{
	float:left;
}
.rightFloat{
	float:right;
}
.pageHeadingText {
	display:inline-block;
	width:100%;
	font-size:14px;
	margin-bottom:20px;
	padding:0 30px;
	text-align:center;
}

.sectionHeading {
	width:100%;
	background-color:#CCC;
	padding: 20px 20px 15px 20px;
	border-radius:4px 4px 0 0;
	text-align:center;
	text-transform:uppercase;
	font-size:14px;
}
hr {
	background: none;
	border: none;
	border-top: 1px solid #CCC;
	height: 0;
	line-height: 0;
	margin: 30px 0;
	margin: 3rem 0;
}
hr.fullDotted {
	border-top: 1px solid #CCC;
	/*margin: 30px -2.6% 0 -2.6%;
	margin: 3rem -2.6% 0 -2.6%;*/
	margin: 30px 0 0 0;
	margin: 3rem 0 0 0;
}

.hidden{
	display:none;
}
.uppercase {
	text-transform:uppercase;
}
.bold {
	font-weight: bold;
}
.block{
	display:block;
}
.inlineBlock{
	display:inline-block;
}
.center {
	text-align: center;
}
.right {
	text-align: right;
}
.left {
	text-align: left;
}
.red {
	color: #900;
}
.textBlue {
	color : blue;
}
.border{
	border: 1px #CCC solid;
}
.topBottomBorder{
	border:1px #CCC solid;
	border-left:none;
}
.topBottomPadding10{
	padding:10px 0px;
}
.borderBottom{
	border-bottom: 1px #CCC solid;
}
.blue{
	background-color:#006fcf;
}
.blueText{
	color: #006fcf;
}
.darkBackground{
	background-color: gainsboro !important;
}
.height10{
	height:10px;
}
#responsiveWrapper_main {
	overflow: auto; /* Force dialogs below main content area. I don't know why this matters, but it does for wide > 1780px screens. */
	background-color: white;
    margin: 0 auto;
}

.lightbox {

	background: #FFF;
	border-radius: 3px;
	margin: 20px auto;
	margin: 2rem auto;
	max-width: 600px;
	max-width: 60rem;
	padding: 20px;
	padding: 2rem;
	position: relative;
	width: auto;
}
.lightbox h2 {
	color: #555;
	font-size: 18px;
	font-size: 1.8rem;
	font-weight: bold;
	margin-top: 20px;
	margin-top: 2rem;
	text-align: left;
}

/* Print Links */
.printLink {
	background: url('../images/rwd/printer.png') no-repeat left center;
	padding-left: 18px;
}
.showHide, #showHide{
	background: url('../images/rwd/svg/18_Amex_Icons_Batch3_ShowPassword.svg') no-repeat center center;
	background-size:25px 25px;
	display: inline-block;
    top: -38px;
    color: #666666;
    text-decoration: none;
    position: relative;
    left: 85%;
    height: 25px;
    width: 30px;
}
input::-ms-clear, input::-ms-reveal {
    display: none;
}

.fullWidth{
	width:100%;
}
.small{
	font-size: 12px;
	font-size:1.2rem;
	line-height:12px;
	line-height:1.2rem;
}
.italics{
	font-style:italic;
}
.padding10{
	padding:10px;
	padding:1rem;
}
.topBottomPadding20{
	padding:20px 0px;
}
.topBottomPadding40{
	padding:40px 0px;
	padding:4rem 0;
}
.topPad15{
	padding-top:15px;
}
.topPad25{
	padding-top:25px;
}
.padLeft25{
	padding-left:25px;
}
.rightPad20{
	padding-right:20px;
}
.noTopPadding{
	padding-top:0px;
}
.padLeft55{
	padding-left:55px;
	padding-left:5.5rem;
}
.marginTop50{
	margin-top:50px;
	margin-top:5rem;
}
.marginTop25{
	margin-top:25px;
	margin-top:2.5rem;
}
.marginTop10{
	margin-top:10px;
	margin-top:1rem;
}
.relative{
	position:relative;
}
.absolute{
	position:absolute;
}
.width100 {
	width:100% !important;
}
.block {
	display:block !important;
}
.noMargin {
	margin: 0 !important;
}
.clear {
	clear: both;
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: #f7f8f9 url("../img/dls-glyph-down.svg") no-repeat right center;
	background-position: calc(100% - 5px);
}
select::-ms-value {
    background: none; /* remove blue background on ie10/ie11 when selected*/
    color:#000;
}

select::-ms-expand {
	display:none;
}

/******************************************************************************/
/* =TABLET                                                                    */
/******************************************************************************/
@media all and (min-width:41.3125em) { /*661px=16*41.3125em;*/

	/*------------------------------------------------------------------------*/
	/* =T_LAYOUT                                                              */
	/*------------------------------------------------------------------------*/
	body {
		background-color: white;
	}

	.bottomShadow {
	  background: url('../img/bottom_shadow.png') repeat-x center left;
	  height: 8px;
	}

	#contentWrapper {
	/*	width: 95%; */
	    margin: 0 auto;
	    border-radius: 5px;
	    /*padding:0px 5px;*/
	    padding:0;
	}


	#divHeader {
		background-image:none;
		display: block;
		margin: 0;
		margin-bottom: 5px;
		margin-bottom: .5rem;
		padding: 10px 10px;
		padding: 1rem 1rem;
	}
	#divHeader > img {
		display: inline-block;
		margin-top: 5px;
	}
	#contactUs {
		display: block;
		float: right;
		font-size: 12px;
		font-size: 1.2rem;
		font-weight: bold;
		max-width: 150px;
		max-width: 15rem;
		text-align: right;
	}

	#divMain {
		border: 0;
	    margin: 0;
		padding: 0;
		width: 100%;
	}


	div.contentTop {
		/*padding: 50px 6% 0 6%;
		padding: 5rem 6% 0 6%;*/
		padding: 50px 8px 0 8px;
		padding: 5rem 0.8rem 0 0.8rem;
		overflow:auto; /*TODO: is this necessary? */
		width:100%;
	}

	div.contentBottom {
		margin: 0 0 20px 0;
		/*padding: 0 6% 50px 6%;
		padding: 0 6% 5rem 6%;*/
		padding: 0 8px 50px 20px;
		padding: 0 0.8rem 5rem 2rem;
		display:inherit;
	}

	#divSubFooter p {
		margin: 5px 0;
	}

	#divCancelLink {
		/*padding-right:20px;
		padding-right:2rem;
		
	float: right;
    width: auto !important;
    font-size: 14px;
    margin-right: 1.5%;*/
	}

	.pageCode {
		margin: 20px 0 0 1em;
		font: 1rem Arial;
		color: #8b8d8e;
		text-transform: uppercase;
	}

	.pageHeadingText {
		text-align: left;
		padding-left:0;
	}

	#toolTip, .toolTip {
		background-color: #FFF;
		background-color: #fff;
   		border-color: #c8c9c7;
    	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    	-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.2);
    	-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.2);
    	color: #000;
		margin: 10px auto;
		padding: 20px;
		text-align: center;
		width: 300px;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;

	}
	#toolTipTitle, .toolTipTitle {
		font: bold 16px Arial;
		color: #5f6266;
		line-height: 24px;
	}
	.toolTipArrowBorder {
		border-color: #8b8d8e transparent transparent transparent;
		border-style: solid;
		border-width: 17px;
		height: 0;
		width: 0;
		position: absolute;
		bottom: -42px;
		left: 30px;
		border-left: 0px solid transparent;
		border-right: 25px solid transparent;
		border-top: 25px solid #8b8d8e;
	}
	.toolTipArrow {
		border-color: #FFF transparent transparent transparent;
		border-style: solid;
		border-width: 14px;
		height: 0;
		width: 0;
		position: absolute;
		bottom: -29px;
		left: 34px;
		border-left: 0px solid transparent;
		border-right: 20px solid transparent;
		border-top: 20px solid #FFF;
	}
	#toolTipClose, .toolTipClose{
		display: inline-block;
		font-size: 2.2em;
		line-height: .7em;
		color: #007CA2;
		cursor: pointer;
		margin: 0;
		background:inherit;
		border-radius:none;
		width:auto;
		height:auto;
	}


	/*----------------------------------------------------------------------------*/
	/* =T_MESSAGING                                                               */
	/*----------------------------------------------------------------------------*/
	.messageContainerError {
		text-align: left;
	}


	/*----------------------------------------------------------------------------*/
	/* =T_FORMS                                                                   */
	/*----------------------------------------------------------------------------*/

	/* Remove Firefox's default button padding */
	input::-moz-focus-inner {
	    border: 0;
	    padding: 0;
	}
	div.field {
		background: none;
		border: 0;
		box-shadow: none;
		display: table;
		margin: 0 0 .5em 0;
		width: 100%;
	}
	div.field label {
		display: table-cell;
		font-size: inherit;
		margin: 0;
		text-align: left;
		text-transform: none;

	}
	div.field-error {
		margin: -.5em 0 .5em 2%;
	}

	div.field.error {
		border: 0;
	}

	div.twoCol>div.field {
		float: left;
		margin: 0;
		width: 50%;
	}
	div.twoCol>div.field>label {
		width: 50%;
	}
	div.twoCol>div.field>input {
		width: 100%;
	}

	dl {
		border:0;
		background:none;
		box-shadow:none;
		border-radius:0;
		width:100%;
	}
	dl>dt {
		display:table-cell;
		margin-bottom: 0;
		text-transform:none;
		width:35%;
		float:left;
		text-align:right;
		font-size:inherit;
		color:#888;
	}

	dd {
		width:50%;
		float:left;
		padding-left:10px;
		padding-left:1rem;
	}


	input[type="password"].showStrength {
		border-top-right-radius: 0px;
		border-bottom-right-radius: 0px;
	}

	/**BUTTONS**/
	div.accordion .button-wrapper {
		padding-left: 35%;
		text-align: left;
	}

	.button-background {
		border-radius:0;
		background:inherit;
		padding:0;
	}

	.button-wrapper ul {
		margin: 0;
		padding: 0;
		width:100%;
	}

	.button-wrapper li {
		display: inline-block;
		list-style-type: none;
		border-left: 1px solid #ccc;
		margin: 0 0 10px 0;
		border: 0;
		width: auto;
		margin:10px;
	}

	.button-wrapper.right {
		overflow: auto;
		/*padding: 0 20px;
		padding: 0 2rem;*/
	}
	.button-wrapper.right > input {
		float: right;
		margin-right: 10px;
		margin-right: 1rem;
		/*width: auto;*/
	}
	.button-wrapper.right > input:first-child {
		margin-right: 0;
	}

	button[type="button"],
	input[type="button"],
	input[type="submit"] {
		margin: 10px 5px;
		margin: 1rem .5rem;
		min-width: 250px;
		min-width: 25rem;
		padding: 0 15px;
		padding: 0 1.5rem;
	}
	a.button{
	padding:initial ;
    display: initial;
    text-align: inherit;
    border: none !important	;
	}
	a.button.white:hover {
	background: #fff;
  	border-color: white;
	}
	.field-background-mobile-only {
		background: none;
		padding: 0;
	}

	label.radioButton, div.radioButtonDiv {
		display: inline-table;
		width:47%;
		margin:10px;
		padding:10px;
		height:100%;
		margin-left:0;
	}


	/*----------------------------------------------------------------------------*/
	/* =T_CLASS STYLES                                                            */
	/*----------------------------------------------------------------------------*/
	.fieldSection {
		background:inherit;
		padding: 20px 0 10px 0;
		border-radius:8px;
		margin-bottom: 20px;
		margin-bottom: 2rem;
	}
	.fieldSubSection {
		border: 0;
		margin: 20px 0;
		margin: 2rem 0;
		padding: 0;
	}
	.fieldSection > h2, .fieldSubSection > h2 {
		background: #EBEBEB;
		border-top: 1px solid #D9D9D9;
		border-bottom: 1px solid #D9D9D9;
		color: #00688F;
		font-weight: bold;
		height: 50px;
		height: 5rem;
		line-height: 50px;
		line-height: 5rem;
		padding: 0 20px;
		padding: 0 2rem;
	}
	span.optional {
		display: inline;
		color: #888;
		text-transform: lowercase;
		font-size: 14px;
		font-size: 1.4rem;
	}

	/*----------------------------------------------------------------------------*/
	/* =T_MISCELLANEOUS                                                           */
	/*----------------------------------------------------------------------------*/
	.sectionHeading {
		border-radius:0;
		background:#CCC;
		font-size:16px;
		padding:20px;
		margin-bottom:10px;
		border-top:1px solid #000;
		border-bottom:1px solid #000;
		color:#006890;
		text-align:left;
	}

	.mcenter {
		text-align: left;
	}
	.halfWidth{
		width:49%;
		display: inline-table;
	}
	.tdCenter{
		text-align:center;
	}
	.tdFloatLeft{
		float: left;
	}

}


/******************************************************************************/
/* =DESKTOP                                                                   */
/******************************************************************************/
@media all and (min-width:60em) { /*min-width:60em = 60*16=960px;*/

	/*----------------------------------------------------------------------------*/
	/* =D_LAYOUT                                                                  */
	/*----------------------------------------------------------------------------*/
	#faq, .rightColumn {
		display: block;
		float: right;
		width: 24%;
		padding-right:10px;
	}
	.leftColumn{
	overflow: hidden;
    width: 75%;
    float: left;
	}
	#faq .title, #faq .content {
		border: 1px solid #CCC;
		display: block;
		padding: 10px;
		padding: 1rem;

	}
	#faq .title {
		background: #F3F3F3;
		border-bottom: 0;
		border-top-right-radius: 4px;
		border-top-left-radius: 4px;
		font-size: 14px;
		font-size: 1.4rem;
		font-weight: bold;
		line-height: 25px;
		line-height: 2.5rem;
		text-align: center;
	}
	#faq .content {
		background: #FFF;
		border-bottom-left-radius: 4px;
		border-bottom-right-radius: 4px;
	}
 	#faqButton {
		display: none;
	}
	#contactUs {
		max-width: none;
	}

	/*----------------------------------------------------------------------------*/
	/* =D_MISCELLANEOUS                                                           */
	/*----------------------------------------------------------------------------*/
	#contentWrapper {
		margin: 0 auto 0 auto;
		max-width: 1010px;
		clear:both;
	}
	#divMain {
		box-sizing: border-box;
		float:left;
		width: 100%;
		padding: 0 0 25px 0;
		padding: 0 0 2.5rem 0;
		overflow:auto; /*TODO: is this necessary?*/
	}

	/** FORMS **/
	input[type="radio"] {
		margin: 0 5px 0 0;
	}
	input[type="checkbox"] {
		margin: 0;
	}


}

/*Conditional Items*/
@media all and (min-width: 960px) {
	/*For media query testing.  Do NOT remove.  See base.jsp comment.*/
	#mediaQueryTest {
		border-bottom-style: dotted;
	}
	.nonDesktop {
		display: none !important;
	}
}
@media all and (max-width: 959px) and (min-width: 661px) {
	/*For media query testing.  Do NOT remove.  See base.jsp comment.*/
	#mediaQueryTest {
		border-bottom-style: dashed;
	}
	.nonTablet {
		display: none !important;
	}
}
@media all and (max-width: 660px) {
	/*For media query testing.  Do NOT remove.  See base.jsp comment.*/
	#mediaQueryTest {
		border-bottom-style: solid;
	}
	.nonMobile {
		display: none !important;
	}
}