
input.button1, input.button2 {
	font-size: 1em;
}

fieldset.quickmod {
	width: 50%;
	float: right;
	text-align: right;
	height: 2.5em;
}


/* Buttons used in the editor */

/* Form button styles
---------------------------------------- */
